body{
    background: royalblue;
}
section{
    background: rebeccapurple;
}
h5 {
    margin: 10px;
   text-align: right;
   font-size: medium;
   font-style: bold;
   font-family: Arial, Helvetica, sans-serif;
   font-display: arial;
}
h5:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
}
h3 {
    margin: 10px;
    font-size: medium;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-display: arial;
}
.mother{
    background: whitesmoke;
    display: flex;
}
.child1{
    justify-content: left;
    margin: 5px;
    margin-left: 5px;
    width: 40%;
}

.child2{
    color: whitesmoke;
    margin: 5px;
    margin-left: 5px;
    justify-content: right;
    width: 40%
}
.grandchild{
    background: whitesmoke;
}
.child3 {

    margin-left: 10px;
    margin: 10px;
}
.child4 {

    margin-left: 10px;
}
